CV Attachments Demo.json
{
  "name": "CV Attachments Demo - Multi Format",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_8420718128641712412"
          ]
        },
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": true
        }
      },
      "id": "85cc7b85-58d4-4d09-bb5a-df4d7cb45c82",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        192
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "pmLOhkDlUwh56xbB",
          "name": "Gmail account test333"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Gmail кладе ВСІ вкладення в ОДИН елемент (item) під бінарними ключами\n// attachment_0, attachment_1, attachment_2 ...\n// Тут ми розкладаємо їх на ОКРЕМІ items — по одному файлу в кожному,\n// щоб далі Switch міг обробити кожен файл незалежно.\n// Режим \"Run Once for All Items\" — бо тільки він дозволяє повернути\n// БІЛЬШЕ елементів, ніж прийшло на вхід (1 лист -> N файлів).\nconst results = [];\nfor (const item of $input.all()) {\n  const binary = item.binary || {};\n  for (const key of Object.keys(binary)) {\n    const file = binary[key];\n    const fileName = file.fileName || \"\";\n    let ext = file.fileExtension || \"\";\n    if (!ext && fileName.includes(\".\")) ext = fileName.split(\".\").pop();\n    ext = String(ext).toLowerCase();\n    results.push({\n      json: { fileName, fileExtension: ext, mimeType: file.mimeType || \"\", sourceProperty: key },\n      binary: { data: file },\n    });\n  }\n}\nreturn results;"
      },
      "id": "d61f9d6f-ce64-412c-a877-c654b58ff014",
      "name": "Split Attachments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        192
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileExtension }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "552d2627-1454-403c-a8fd-848144344b24"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileExtension }}",
                    "rightValue": "docx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "72050259-1dae-4aae-b6bf-beecc99fa441"
                  },
                  {
                    "leftValue": "={{ $json.fileExtension }}",
                    "rightValue": "doc",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f07164ba-6a21-4832-9089-a435e7212fa5"
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "DOCX"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileExtension }}",
                    "rightValue": "jpg",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7e374c1a-756b-46f2-bfae-fa1ce77bc863"
                  },
                  {
                    "leftValue": "={{ $json.fileExtension }}",
                    "rightValue": "jpeg",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9ac9c747-0609-400a-866d-6f1eaca6b427"
                  },
                  {
                    "leftValue": "={{ $json.fileExtension }}",
                    "rightValue": "png",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2b4a6741-418c-460b-b748-a749e011e5f1"
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "4f5f6615-0696-4d65-978a-7d0ca402e9fd",
      "name": "Route by File Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        448,
        176
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "joinPages": true
        }
      },
      "id": "c0c45df9-cc80-496a-a398-99cf9566e0e1",
      "name": "Extract PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1328,
        -80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cvtext-pdf",
              "name": "cvText",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "093ef437-f6a2-489a-9b71-a6a5e2d5c69d",
      "name": "cvText PDF",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Усі гілки зійшлись, бо на виході кожної — ОДНАКОВЕ поле cvText.\n// Тому збірка тривіальна: нічого перетворювати не треба,\n// просто пропускаємо елементи далі.\nreturn $input.all();"
      },
      "id": "a3ea897f-877a-421b-aeab-c5353ad51d90",
      "name": "Merge Branches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        192
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// DOCX — це насправді ZIP-архів. Щоб нода Compression його розпакувала,\n// перейменовуємо бінарне вкладення на .zip (змінюємо лише метадані,\n// самі байти файлу не чіпаємо).\nconst item = $input.item;\nconst bin = item.binary && item.binary.data;\nif (bin) {\n  const base = (bin.fileName || \"file\").replace(/\\.[^.]+$/, \"\");\n  bin.fileName = base + \".zip\";\n  bin.fileExtension = \"zip\";\n  bin.mimeType = \"application/zip\";\n}\nreturn item;"
      },
      "id": "66acc6a7-7a0f-4085-90ec-ed54ec6d477e",
      "name": "Rename to Zip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        192
      ]
    },
    {
      "parameters": {},
      "id": "937e9f03-65c3-4716-9ad8-5ea147cc0432",
      "name": "Decompress Docx",
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        896,
        192
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Розпакований DOCX містить багато файлів (file_0, file_1, ...).\n// Текст резюме лежить у word/document.xml — знаходимо саме його\n// і віддаємо далі як бінарне поле \"data\".\nconst item = $input.item;\nconst binary = item.binary || {};\nlet picked = null;\nfor (const key of Object.keys(binary)) {\n  const f = binary[key];\n  const name = f.fileName || \"\";\n  const isDoc = name === \"word/document.xml\" || name.endsWith(\"/document.xml\") || name === \"document.xml\";\n  if (isDoc && !name.includes(\".rels\")) { picked = f; break; }\n}\nif (!picked) throw new Error(\"document.xml не знайдено у розпакованому DOCX\");\nreturn { json: { picked: \"word/document.xml\" }, binary: { data: picked } };"
      },
      "id": "828e9f4b-baee-4100-a08a-bf7e93855a6a",
      "name": "Pick document.xml",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        192
      ]
    },
    {
      "parameters": {
        "operation": "xml",
        "options": {}
      },
      "id": "3efa919a-32c8-4705-9fb5-b98c9245f861",
      "name": "Extract Docx XML",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1344,
        192
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// УВАГА (для студентів): у цій версії n8n нода Extract from File (XML)\n// віддає СИРИЙ XML-РЯДОК у json.data, а не готовий обʼєкт.\n// Тому текст резюме дістаємо прямо з тегів <w:t>, а абзаци беремо з <w:p>.\nconst raw = $input.item.json.data;\nfunction stripDecode(s) {\n  return s.replace(/<[^>]+>/g, \"\")\n    .replace(/&amp;/g, \"&\").replace(/&lt;/g, \"<\").replace(/&gt;/g, \">\")\n    .replace(/&quot;/g, String.fromCharCode(34)).replace(/&apos;/g, String.fromCharCode(39))\n    .replace(/&#(\\d+);/g, (m, n) => String.fromCharCode(parseInt(n, 10)));\n}\nfunction fromXmlString(xml) {\n  const paras = xml.split(/<\\/w:p>/);\n  const lines = [];\n  for (const p of paras) {\n    const ts = p.match(/<w:t[^>]*>[\\s\\S]*?<\\/w:t>/g) || [];\n    if (!ts.length) continue;\n    const line = ts.map((t) => stripDecode(t)).join(\"\");\n    if (line.trim()) lines.push(line.trim());\n  }\n  return lines.join(\"\\n\");\n}\nlet cvText = \"\";\nif (typeof raw === \"string\") {\n  cvText = fromXmlString(raw);\n} else if (raw && typeof raw === \"object\") {\n  // запасний варіант: якщо XML колись прийде вже обʼєктом — зберемо всі w:t\n  const texts = [];\n  const visit = (v) => {\n    if (v === null || v === undefined) return;\n    if (Array.isArray(v)) { v.forEach(visit); return; }\n    if (typeof v === \"object\") {\n      for (const [k, val] of Object.entries(v)) {\n        const local = k.includes(\":\") ? k.split(\":\").pop() : k;\n        if (local === \"t\") texts.push(typeof val === \"string\" ? val : ((val && (val[\"#text\"] || val[\"_\"])) || \"\"));\n        else visit(val);\n      }\n    }\n  };\n  visit(raw);\n  cvText = texts.join(\" \").replace(/\\s+/g, \" \").trim();\n}\nreturn { json: { cvText } };"
      },
      "id": "a5f461b6-9b29-4941-8a87-67a49480f871",
      "name": "Clean Docx Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        192
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "text": "Витягни весь текст із цього зображення. Поверни тільки текст, без коментарів.",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 1024
        }
      },
      "id": "4b1e58f0-df6f-4513-9a2c-64bf5005b3f0",
      "name": "OpenAI Vision OCR",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        1360,
        560
      ],
      "credentials": {
        "openAiApi": {
          "id": "7TnKqwAMNsWvNcQY",
          "name": "n8n_server"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cvtext-image",
              "name": "cvText",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "46c92a32-eb35-4bd4-b749-1afe2801faf2",
      "name": "cvText Image",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        560
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ось витягнутий текст резюме:\n{{ $json.cvText }}",
        "options": {
          "systemMessage": "Ти асистент, який обробляє текст резюме кандидата. Це демо-заглушка для ефіру — далі тут була б звичайна обробка (аналіз, підсумок, скоринг)."
        }
      },
      "id": "55e12842-a105-4799-876c-41fce47fe625",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2016,
        192
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "66f3d7d3-ce4d-4b1d-8fbe-9bc7e6294a89",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2096,
        416
      ],
      "credentials": {
        "openAiApi": {
          "id": "7TnKqwAMNsWvNcQY",
          "name": "n8n_server"
        }
      }
    },
    {
      "parameters": {
        "content": "ДЕМО: кілька вкладень різних форматів -> усі обробляються.\n\n1) Split Attachments розкладає файли на окремі елементи\n2) Switch визначає тип кожного\n3) PDF — нативна нода; DOCX — через zip+XML; Image — через OpenAI Vision\n4) усі гілки кладуть текст в ОДНАКОВЕ поле cvText -> злиття тривіальне.\n\nГоловна думка: секрет складання — однакове поле на виході всіх гілок.",
        "height": 200,
        "width": 1560,
        "color": 4
      },
      "id": "8bb790c3-1f9c-4552-93e3-370b3152e3e3",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -416
      ]
    },
    {
      "parameters": {
        "content": "PDF — нативно (Extract from File)",
        "height": 266,
        "width": 420,
        "color": 5
      },
      "id": "764662a5-4296-4e36-9ae2-adc6c10e4ccf",
      "name": "PDF note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        -176
      ]
    },
    {
      "parameters": {
        "content": "DOCX — zip + XML (без зовнішніх сервісів): rename .zip -> Decompress -> pick document.xml -> Extract XML -> зібрати текст із <w:t>",
        "height": 334,
        "width": 1026,
        "color": 7
      },
      "id": "8ec10d58-88ee-479d-9e2b-288337262829",
      "name": "DOCX note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        96
      ]
    },
    {
      "parameters": {
        "content": "Image — OpenAI Vision (image/analyze). Потрібен OpenAI credential.",
        "height": 282,
        "width": 532,
        "color": 6
      },
      "id": "2dc9acb4-bb44-416d-90b5-f1aad2dc6980",
      "name": "Image note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1232,
        480
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Split Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Attachments": {
      "main": [
        [
          {
            "node": "Route by File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by File Type": {
      "main": [
        [
          {
            "node": "Extract PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rename to Zip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI Vision OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF": {
      "main": [
        [
          {
            "node": "cvText PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cvText PDF": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Branches": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename to Zip": {
      "main": [
        [
          {
            "node": "Decompress Docx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress Docx": {
      "main": [
        [
          {
            "node": "Pick document.xml",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick document.xml": {
      "main": [
        [
          {
            "node": "Extract Docx XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Docx XML": {
      "main": [
        [
          {
            "node": "Clean Docx Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Docx Text": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Vision OCR": {
      "main": [
        [
          {
            "node": "cvText Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cvText Image": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "3facfd1c-f404-448a-8160-3f8bfcad4ee0",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "e2bdc2246a97a1e5f565fa01d7dec151578f5bc30a23a14040955b74823d9395"
  },
  "id": "iWjSsOsmKdecb4W3",
  "tags": []
}