task_evaluator_bot.json
{
  "name": "Andrii's Freelance Task Evaluator (Gemini Multimodal Edition)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "tg-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -200,
        240
      ],
      "credentials": {
        "telegramApi": {
          "id": "your-telegram-cred-id",
          "name": "Telegram Bot Credentials"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "value1": "={{ $json.message.photo ? 'photo' : 'text' }}",
              "value2": "photo"
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "input-switch",
      "name": "Is Screenshot?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        20,
        240
      ]
    },
    {
      "parameters": {
        "operation": "getFile",
        "fileId": "={{ $node[\"Telegram Trigger\"].json.message.photo.slice(-1)[0].file_id }}",
        "additionalFields": {}
      },
      "id": "tg-download",
      "name": "Download Screenshot",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        200,
        140
      ],
      "credentials": {
        "telegramApi": {
          "id": "your-telegram-cred-id",
          "name": "Telegram Bot Credentials"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Extract all readable text from this screenshot of a job request. Return ONLY the raw text of the job description. Do not add any chat, prefix, or metadata.",
        "hasBinaryInput": true,
        "binaryKeys": "data"
      },
      "id": "gemini-ocr",
      "name": "Gemini Vision OCR",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        380,
        140
      ]
    },
    {
      "parameters": {
        "modelName": "gemini-1.5-flash",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "gemini-model-ocr",
      "name": "Gemini Model (OCR)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "credentials": {
        "googleGeminiApi": {
          "id": "your-gemini-cred-id",
          "name": "Google Gemini API Credentials"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "jobText",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "set-photo-text",
      "name": "Set Photo Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        140
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "jobText",
              "value": "={{ $node[\"Telegram Trigger\"].json.message.text }}"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "set-raw-text",
      "name": "Set Raw Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        340
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.jobText }}",
        "systemMessage": "You are an AI Evaluator for Andrii Yatsechko (57 years old, former military serviceman, n8n Automation Specialist & AI Integrator).\n\nHere is Andrii's Professional Profile:\n- Core Skills: advanced n8n (Switch, If, JS Code, HTTP Requests, API integrations, Webhooks), OpenAI APIs (Whisper, GPTs, Dall-E), OpenRouter, LangChain concept (memoryBufferWindow), Telegram Bot API, Google Sheets API, OneDrive API, Instagram/Threads API (Late API/Zernio).\n- Experience: 1+ years. Built a fully functional AI SMM Assistant, a Multi-Format Resume Parser (renaming docx to zip and parsing XML via JS), and a OneDrive Task Logger.\n- Key strengths: Military discipline, precision, high responsibility, strict testing.\n\nAnalyze the incoming freelance job request and evaluate it against Andrii's profile.\nCalculate and output:\n1. 📋 **Короткий опис проєкту** (Short 2-3 sentence summary of the task)\n2. 📊 **Складність для Андрія** (Легка / Середня / Висока) with a brief technical justification based on his profile\n3. 🎯 **Ймовірність успіху** (Probability of successful delivery from 0% to 100%)\n4. ⏱️ **Орієнтовний час** (Expected time to complete, e.g., 1 day, 3-5 days, 1 week)\n5. 📚 **Аналіз досвіду та рекомендації** (Whether his experience is fully sufficient, or if he needs to study some extra nodes/APIs before accepting the job, listing exactly what to search for)\n\nProvide the output in structured Markdown, in Ukrainian (or Russian if input is in Russian). Keep it professional, honest, and objective."
      },
      "id": "ai-chain-eval",
      "name": "Gemini Evaluator Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        740,
        240
      ]
    },
    {
      "parameters": {
        "modelName": "gemini-1.5-flash",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "gemini-model-eval",
      "name": "Gemini Model (Eval)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        780,
        400
      ],
      "credentials": {
        "googleGeminiApi": {
          "id": "your-gemini-cred-id",
          "name": "Google Gemini API Credentials"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "tg-send",
      "name": "Send Assessment",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        240
      ],
      "credentials": {
        "telegramApi": {
          "id": "your-telegram-cred-id",
          "name": "Telegram Bot Credentials"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Is Screenshot?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Screenshot?": {
      "main": [
        [
          {
            "node": "Download Screenshot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Raw Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Screenshot": {
      "main": [
        [
          {
            "node": "Gemini Vision OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Vision OCR": {
      "main": [
        [
          {
            "node": "Set Photo Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Photo Text": {
      "main": [
        [
          {
            "node": "Gemini Evaluator Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Raw Text": {
      "main": [
        [
          {
            "node": "Gemini Evaluator Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Evaluator Chain": {
      "main": [
        [
          {
            "node": "Send Assessment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model (OCR)": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Vision OCR",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model (Eval)": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Evaluator Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
