task_evaluator_bot.json
{
  "name": "Andrii's Freelance Task Evaluator (Gemini Multimodal Edition)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "tg-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -200,
        240
      ],
      "credentials": {
        "telegramApi": {
          "id": "your-telegram-cred-id",
          "name": "Telegram Bot Credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Normalizes the Telegram trigger payload and checks for image files or documents\nreturn $input.all().map(item => {\n  const msg = item.json.message || item.json.edited_message || item.json.channel_post || {};\n  const hasPhoto = !!(msg.photo || msg.document);\n  return {\n    json: {\n      isScreenshot: hasPhoto,\n      message: msg\n    }\n  };\n});"
      },
      "id": "normalize-payload",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isScreenshot }}",
              "value2": true
            }
          ]
        }
      },
      "id": "is-screenshot-if",
      "name": "Is Screenshot?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        220,
        240
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "fileId": "={{ $json.message.photo ? $json.message.photo.slice(-1)[0].file_id : $json.message.document.file_id }}",
        "additionalFields": {}
      },
      "id": "tg-download",
      "name": "Download Screenshot",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        420,
        140
      ],
      "credentials": {
        "telegramApi": {
          "id": "your-telegram-cred-id",
          "name": "Telegram Bot Credentials"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelName": "models/gemini-3.5-flash",
        "prompt": "Extract all readable text from this screenshot of a job request. Return ONLY the raw text of the job description. Do not add any chat, prefix, or metadata.",
        "imageBinaryKey": "data"
      },
      "id": "gemini-analysis-photo",
      "name": "Gemini Analysis Photo",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        600,
        140
      ],
      "credentials": {
        "googleGeminiApi": {
          "id": "your-gemini-cred-id",
          "name": "Google Gemini API Credentials"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {
          "temperature": 0.15
        }
      },
      "id": "gemini-model-shared",
      "name": "Gemini Model (Shared)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        720,
        420
      ],
      "credentials": {
        "googleGeminiApi": {
          "id": "your-gemini-cred-id",
          "name": "Google Gemini API Credentials"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "jobText",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "set-photo-text",
      "name": "Set Photo Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        140
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "jobText",
              "value": "={{ $json.message.text }}"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "set-raw-text",
      "name": "Set Raw Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        340
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.jobText }}",
        "systemMessage": "You are an AI Evaluator for Andrii Yatsechko (57 years old, former military serviceman, n8n Automation Specialist & AI Integrator).\n\nHere is Andrii's Professional Profile:\n- Core Skills: advanced n8n (Switch, If, JS Code, HTTP Requests, API integrations, Webhooks), OpenAI APIs (Whisper, GPTs, Dall-E), OpenRouter, LangChain concept (memoryBufferWindow), Telegram Bot API, Google Sheets API, OneDrive API, Instagram/Threads API (Late API/Zernio).\n- Experience: 1+ years. Built a fully functional AI SMM Assistant, a Multi-Format Resume Parser (renaming docx to zip and parsing XML via JS), and a OneDrive Task Logger.\n- Key strengths: Military discipline, precision, high responsibility, strict testing.\n\nAnalyze the incoming freelance job request and evaluate it against Andrii's profile.\nCalculate and output:\n1. 📋 **Короткий опис проєкту** (Short 2-3 sentence summary of the task)\n2. 📊 **Складність для Андрія** (Легка / Середня / Висока) with a brief technical justification based on his profile\n3. 🎯 **Ймовірність успіху** (Probability of successful delivery from 0% to 100%)\n4. ⏱️ **Орієнтовний час** (Expected time to complete, e.g., 1 day, 3-5 days, 1 week)\n5. 📚 **Аналіз досвіду та рекомендації** (Whether his experience is fully sufficient, or if he needs to study some extra nodes/APIs before accepting the job, listing exactly what to search for)\n\nProvide the output in structured Markdown, in Ukrainian (or Russian if input is in Russian). Keep it professional, honest, and objective."
      },
      "id": "ai-chain-eval",
      "name": "Gemini Evaluator Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1140,
        240
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize Payload\"].json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "tg-send",
      "name": "Send Assessment",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1340,
        240
      ],
      "credentials": {
        "telegramApi": {
          "id": "your-telegram-cred-id",
          "name": "Telegram Bot Credentials"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Is Screenshot?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Screenshot?": {
      "main": [
        [
          {
            "node": "Download Screenshot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Raw Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Screenshot": {
      "main": [
        [
          {
            "node": "Gemini Analysis Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Analysis Photo": {
      "main": [
        [
          {
            "node": "Set Photo Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Photo Text": {
      "main": [
        [
          {
            "node": "Gemini Evaluator Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Raw Text": {
      "main": [
        [
          {
            "node": "Gemini Evaluator Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Evaluator Chain": {
      "main": [
        [
          {
            "node": "Send Assessment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model (Shared)": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Evaluator Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
