Web Web Project Alba Dures/century21-scraper/c21_bot_workflow_backend.json
{
  "name": "21_bot_workflow_backend",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "254ff363-5000-410b-bfc4-c8c083ce0ef7",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        224,
        560
      ],
      "webhookId": "9b1fb28e-5b12-4c28-98e6-12a938c11aa5",
      "credentials": {
        "telegramApi": {
          "id": "r717IUH8sHUrL1dE",
          "name": "Durres Property Finder"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.messageText }}",
        "rules": {
          "rules": [
            {
              "value2": "/start"
            },
            {
              "value2": "ℹ️ Допомога"
            },
            {
              "value2": "📞 Менеджер"
            },
            {
              "value2": "🔄 Почати з нуля"
            }
          ]
        }
      },
      "id": "41e751e3-a442-4677-9a61-5089e0feefcd",
      "name": "Router Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        448,
        560
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.message.chat.id }}",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": { "rows": [
            {
              "buttons": [
                {
                  "text": "🚀 Відкрити каталог",
                  "web_app": {
                    "url": "https://century21-albania.pages.dev"
                  }
                }
              ]
            },
            {
              "buttons": [
                {
                  "text": "📞 Менеджер"
                },
                {
                  "text": "ℹ️ Допомога"
                }
              ]
            },
            {
              "buttons": [
                {
                  "text": "🔄 Почати з нуля"
                }
              ]
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "HTML",
          "caption": "=🏢 <b>Century 21 Albania | Розумний пошук</b>\n\nВітаємо, <b>{{ $json.message.from.first_name }}</b>! \n\nЯ ваш персональний асистент для пошуку житла та комерційної нерухомості в <b>Дурресі</b> та <b>Тирані</b> безпосередньо з офіційної бази Century 21.\n\n<b>Чим я корисний:</b>\n• 🏢 <b>Інтерактивний каталог</b> — шукайте та фільтруйте квартири у зручному мобільному додатку прямо в Telegram.\n• 🌐 <b>Розумний пошук</b> — просто напишіть мені запит своїми словами (наприклад: <i>«оренда 2-кімнатної в Дурресі до 600€»</i>), і я сам підберу варіанти.\n• 🛡️ <b>Безпека</b> — тільки перевірені об'єкти та прямий зв'язок з ліцензованими агентами.\n\n👇 <b>Натисніть кнопку нижче, щоб відкрити каталог та знайти найкращі варіанти:</b>"
        },
        "file": "https://images.unsplash.com/photo-1540555700478-4be289fbecef?auto=format&fit=crop&w=1200&q=80"
      },
      "id": "263c1193-aedd-48ed-8ec1-3da070d09e9c",
      "name": "Send Welcome Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        352
      ],
      "webhookId": "c6a542c5-fcbf-40b3-a4b0-89cd94b7330a",
      "credentials": {
        "telegramApi": {
          "id": "r717IUH8sHUrL1dE",
          "name": "Durres Property Finder"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "ℹ️ **Як користуватися пошуком:**\n\n1. Натисніть кнопку 🚀 **Відкрити каталог**.\n2. Введіть назву району, площу або налаштуйте бюджет у вкладці фільтрів `⚙️`.\n3. Додавайте вподобані об'єкти в **Обране (❤️)**.\n4. Перейдіть у вкладку «Обране» та натисніть кнопку **«Надіслати запит менеджеру»**, щоб зв'язатися з нами щодо обраного об'єкта.\n\nТакож ви можете відправити текстовий запит сюди в чат бота, наприклад:\n*\"хочу купити квартиру від 80 кв.м. в Дурресі з видом на море\"*",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "1561a8d9-a09a-47e7-a1bd-cbda2de0c8fe",
      "name": "Send Help Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        512
      ],
      "webhookId": "84ca0aad-a28f-44c1-ac21-c72dc006ebcb",
      "credentials": {
        "telegramApi": {
          "id": "r717IUH8sHUrL1dE",
          "name": "Durres Property Finder"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "📞 **Контакти менеджера:**\n\nНаш спеціаліст готовий допомогти вам із вибором!\n\n💬 Telegram: @albaRoyalQ\n📧 Email: alba.homelan@gmail.com\n\nАбо просто надішліть заявку через кнопку в нашому додатку, і ми зв'яжемося з вами самі!",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "4b035de2-98aa-4e21-8f6b-0deff81d3dd4",
      "name": "Send Manager Contacts",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        656
      ],
      "webhookId": "85f61f6a-d125-4bc3-a837-0b7370bfb9cb",
      "credentials": {
        "telegramApi": {
          "id": "r717IUH8sHUrL1dE",
          "name": "Durres Property Finder"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "🔄 Всі налаштування пошуку та історію скинуто! Натисніть кнопку нижче, щоб почати перегляд спочатку.",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": { "rows": [
            {
              "buttons": [
                {
                  "text": "🚀 Відкрити каталог",
                  "web_app": {
                    "url": "https://century21-albania.pages.dev"
                  }
                }
              ]
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "fed6cc07-5d90-4c42-96e7-b70cf5155e75",
      "name": "Send Reset Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        816
      ],
      "webhookId": "0621d845-563e-4c70-aa79-3c912639f8e1",
      "credentials": {
        "telegramApi": {
          "id": "r717IUH8sHUrL1dE",
          "name": "Durres Property Finder"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "message": "You are a smart parser for a real estate search bot in Albania (Durrës and Tirana).\nExtract search filters from the user's natural language request.\nOutput ONLY a valid JSON object matching this schema:\n{\n  \"category\": \"Sale\" | \"Rent\" | \"all\",\n  \"city\": \"Durrës\" | \"Tirana\" | \"all\",\n  \"rooms\": \"1\" | \"2\" | \"3+\" | \"all\",\n  \"priceMax\": number | null,\n  \"priceMin\": number | null\n}\nIf fields are not mentioned, set them to default values (\"all\" or null).\nTranslate Ukrainian queries correctly (e.g. \"оренда\" -> Rent, \"купити/продаж\" -> Sale, \"кімнатна\" -> rooms)."
            },
            {
              "role": "user",
              "message": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "id": "71815704-c9b8-4f49-bbfd-4b2d743c1c0c",
      "name": "AI NLP Parser",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        720,
        960
      ],
      "credentials": {
        "openAiApi": {
          "id": "4XBA6U2hCe2dPkmn",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const filters = JSON.parse($input.first().json.choices[0].message.content);\n\nlet url = 'https://century21-albania.pages.dev/?';\nconst params = [];\nif (filters.category && filters.category !== 'all') params.push(`category=${filters.category}`);\nif (filters.city && filters.city !== 'all') params.push(`city=${filters.city}`);\nif (filters.rooms && filters.rooms !== 'all') params.push(`rooms=${filters.rooms}`);\nif (filters.priceMax) params.push(`priceMax=${filters.priceMax}`);\nif (filters.priceMin) params.push(`priceMin=${filters.priceMin}`);\n\nurl += params.join('&');\n\nreturn {\n  url,\n  summary: `Угода: ${filters.category === 'Rent' ? 'Оренда' : filters.category === 'Sale' ? 'Продаж' : 'Будь-яка'}, Місто: ${filters.city || 'Всі'}, Кімнат: ${filters.rooms || 'Будь-яка'}${filters.priceMax ? ', Макс. ціна: ' + filters.priceMax + '€' : ''}`\n};"
      },
      "id": "76122bd5-b4cf-4056-958d-b3911f1188f6",
      "name": "Generate Filtered URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        960
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=🔍 **Я налаштував фільтри під ваш запит!**\n\n⚙️ {{ $json.summary }}\n\nНатисніть кнопку нижче, щоб відкрити каталог із уже вибраними параметрами! 👇",
        "replyMarkup": "inlineKeyboardMarkup",
        "inlineKeyboardMarkup": {
          "rows": [
            {
              "buttons": [
                {
                  "text": "🚀 Відкрити підібрані варіанти",
                  "web_app": {
                    "url": "={{ $json.url }}"
                  }
                }
              ]
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "80b0b1b6-30fc-4b48-a0c3-12db7064388d",
      "name": "Send Filtered Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1168,
        960
      ],
      "webhookId": "c22da0b0-f268-4ff1-92f3-d12d867917ce",
      "credentials": {
        "telegramApi": {
          "id": "r717IUH8sHUrL1dE",
          "name": "Durres Property Finder"
        }
      }
    },
    {
      "parameters": {},
      "id": "ae5cff47-4318-4ab7-b48f-31826829a554",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        192,
        320
      ]
    },
    {
      "parameters": {
        "chatId": "7431843172",
        "text": "=⚠️ *Помилка у сценарії n8n!*\n\n*Сценарій:* {{ $json.workflow.name }}\n*Вузол:* {{ $json.execution.error.node }}\n*Помилка:* {{ $json.execution.error.message }}\n\n🔗 [Відкрити помилку в n8n]({{ $json.execution.url }})",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "1f58449f-f1ac-47fa-97a0-a9f866604f61",
      "name": "Send Error Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        320
      ],
      "webhookId": "a11c6db1-8c82-4a01-aae0-6f21f4268012",
      "credentials": {
        "telegramApi": {
          "id": "qZBuPcKLta8Rab31",
          "name": "Мій Фінансовий Асистент"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  // Deep copy the item to bypass n8n's read-only/frozen object restriction\n  const newItem = JSON.parse(JSON.stringify(item));\n  \n  newItem.json.messageText = newItem.json.message && newItem.json.message.text ? newItem.json.message.text : '';\n  \n  // Safeguard basic properties for downstream nodes\n  if (!newItem.json.message) {\n    newItem.json.message = {\n      chat: { id: 7431843172 },\n      from: { first_name: 'Клієнт' }\n    };\n  } else {\n    if (!newItem.json.message.chat) {\n      newItem.json.message.chat = { id: 7431843172 };\n    }\n    if (!newItem.json.message.from) {\n      newItem.json.message.from = { first_name: 'Клієнт' };\n    }\n  }\n  \n  return newItem;\n});"
      },
      "id": "e2a2fb2e-12ab-4bc8-8e6d-9b1e847c230a",
      "name": "Sanitize Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        560
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Sanitize Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Switch": {
      "main": [
        [
          {
            "node": "Send Welcome Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Help Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Manager Contacts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Reset Confirmation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI NLP Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI NLP Parser": {
      "main": [
        [
          {
            "node": "Generate Filtered URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Filtered URL": {
      "main": [
        [
          {
            "node": "Send Filtered Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send Error Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Message": {
      "main": [
        [
          {
            "node": "Router Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}