Web Web Project Alba Dures/century21-scraper/c21_bot_workflow_backend.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "7e3cad47-9eba-42f6-86f5-d43cfae9e6cb",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        31504,
        9216
      ],
      "webhookId": "9b1fb28e-5b12-4c28-98e6-12a938c11aa5",
      "credentials": {
        "telegramApi": {
          "id": "r717IUH8sHUrL1dE",
          "name": "Durres Property Finder"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.messageText }}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": "/start",
              "output": 0
            },
            {
              "operation": "equal",
              "value2": "ℹ️ Допомога",
              "output": 1
            },
            {
              "operation": "equal",
              "value2": "📞 Менеджер",
              "output": 2
            },
            {
              "operation": "equal",
              "value2": "🔄 Почати з нуля",
              "output": 3
            }
          ]
        }
      },
      "id": "fb67055f-933b-4f27-a412-066103ec8ed6",
      "name": "Router Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        31728,
        9216
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.message.chat.id }}",
        "file": "https://century21-albania.pages.dev/welcome_banner.jpg?v=1",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🚀 Відкрити каталог",
                    "additionalFields": {
                      "web_app": {
                        "url": "https://century21-albania.pages.dev"
                      }
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "📞 Менеджер",
                    "additionalFields": {}
                  },
                  {
                    "text": "ℹ️ Допомога",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🔄 Почати з нуля",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "caption": "=🏢 <b>Century 21 Albania | Розумний пошук</b>\n\nВітаємо, <b>{{ $json.message.from.first_name }}</b>! \n\nЯ ваш персональний асистент для пошуку житла та комерційної нерухомості в <b>Дурресі</b> та <b>Тирані</b> безпосередньо з офіційної бази Century 21.\n\n<b>Чим я корисний:</b>\n• 🏢 <b>Інтерактивний каталог</b> — шукайте та фільтруйте квартири у зручному мобільному додатку прямо в Telegram.\n• 🌐 <b>Розумний пошук</b> — просто напишіть мені запит своїми словами (наприклад: <i>«оренда 2-кімнатної в Дурресі до 600€»</i>), і я сам підберу варіанти.\n• 🛡️ <b>Безпека</b> — тільки перевірені об'єкти та прямий зв'язок з ліцензованими агентами.\n\n👇 <b>Натисніть кнопку нижче, щоб відкрити каталог та знайти найкращі варіанти:</b>",
          "parse_mode": "HTML"
        }
      },
      "id": "543c140a-2964-4059-a973-f2e86fbe3eb5",
      "name": "Send Welcome Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        32000,
        9008
      ],
      "webhookId": "c6a542c5-fcbf-40b3-a4b0-89cd94b7330a",
      "credentials": {
        "telegramApi": {
          "id": "r717IUH8sHUrL1dE",
          "name": "Durres Property Finder"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "📖 <b>Інструкція користувача:</b>\n\nЯ розумію як звичайні команди, так і запити своїми словами. Спробуйте написати мені так, як написали б реальному ріелтору:\n\n💡 <i>«оренда 1-кімнатної в Дурресі до 500 євро»</i>\n💡 <i>«купити квартиру з 2 спальнями в Тирані»</i>\n\n<b>Швидкі команди:</b>\n• 🚀 <b>Відкрити каталог</b> — відкриває інтерактивну мапу та список об'єктів з фільтрами.\n• 📞 <b>Менеджер</b> — покаже прямі контакти нашого спеціаліста.\n• 🔄 <b>Почати з нуля</b> — повністю скидає всі налаштовані фільтри пошуку.",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "be7ce720-d80c-4a3f-9e10-a75ff99bb0a5",
      "name": "Send Help Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        32000,
        9168
      ],
      "webhookId": "84ca0aad-a28f-44c1-ac21-c72dc006ebcb",
      "credentials": {
        "telegramApi": {
          "id": "r717IUH8sHUrL1dE",
          "name": "Durres Property Finder"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "📞 <b>Контакти менеджера:</b>\n\nНаш спеціаліст готовий допомогти вам із вибором!\n\n💬 Telegram: @albaRoyalQ\n📧 Email: alba.homelan@gmail.com\n\nАбо просто надішліть заявку через кнопку в нашому додатку, і ми зв'яжемося з вами самі!",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "0276eca1-413d-48c3-9407-7ca7e29fe65a",
      "name": "Send Manager Contacts",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        32000,
        9312
      ],
      "webhookId": "85f61f6a-d125-4bc3-a837-0b7370bfb9cb",
      "credentials": {
        "telegramApi": {
          "id": "r717IUH8sHUrL1dE",
          "name": "Durres Property Finder"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "🔄 Всі налаштування пошуку та історію скинуто! Натисніть кнопку нижче, щоб почати перегляд спочатку.",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🚀 Відкрити каталог",
                    "additionalFields": {
                      "web_app": {
                        "url": "https://century21-albania.pages.dev"
                      }
                    }
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "8377c40e-169d-425b-b5af-b5b1c3b3cb3c",
      "name": "Send Reset Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        32000,
        9472
      ],
      "webhookId": "0621d845-563e-4c70-aa79-3c912639f8e1",
      "credentials": {
        "telegramApi": {
          "id": "r717IUH8sHUrL1dE",
          "name": "Durres Property Finder"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {},
        "requestOptions": {}
      },
      "id": "24a53c70-a2d3-464e-99e8-2b1363acce8c",
      "name": "AI NLP Parser",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        32000,
        9616
      ],
      "credentials": {
        "openAiApi": {
          "id": "4XBA6U2hCe2dPkmn",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const filters = JSON.parse($input.first().json.choices[0].message.content);\n\nlet url = 'https://century21-albania.pages.dev/?';\nconst params = [];\nif (filters.category && filters.category !== 'all') params.push(`category=${filters.category}`);\nif (filters.city && filters.city !== 'all') params.push(`city=${filters.city}`);\nif (filters.rooms && filters.rooms !== 'all') params.push(`rooms=${filters.rooms}`);\nif (filters.priceMax) params.push(`priceMax=${filters.priceMax}`);\nif (filters.priceMin) params.push(`priceMin=${filters.priceMin}`);\n\nurl += params.join('&');\n\nreturn {\n  url,\n  summary: `Угода: ${filters.category === 'Rent' ? 'Оренда' : filters.category === 'Sale' ? 'Продаж' : 'Будь-яка'}, Місто: ${filters.city || 'Всі'}, Кімнат: ${filters.rooms || 'Будь-яка'}${filters.priceMax ? ', Макс. ціна: ' + filters.priceMax + '€' : ''}`\n};"
      },
      "id": "6878ea5a-3888-4d2e-bf13-aa67245820d0",
      "name": "Generate Filtered URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32224,
        9616
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=🔍 <b>Я налаштував фільтри під ваш запит!</b>\n\n⚙️ {{ $json.summary }}\n\nНатисніть кнопку нижче, щоб відкрити каталог із уже вибраними параметрами! 👇",
        "replyMarkup": "inlineKeyboardMarkup",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "7abed6e6-6e99-43a3-9e3e-5f14bb2f9b46",
      "name": "Send Filtered Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        32448,
        9616
      ],
      "webhookId": "c22da0b0-f268-4ff1-92f3-d12d867917ce",
      "credentials": {
        "telegramApi": {
          "id": "r717IUH8sHUrL1dE",
          "name": "Durres Property Finder"
        }
      }
    },
    {
      "parameters": {},
      "id": "49e730e6-ffee-4a21-adb4-25826f89c27e",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        31472,
        8976
      ]
    },
    {
      "parameters": {
        "chatId": "7431843172",
        "text": "=⚠️ *Помилка у сценарії n8n!*\n\n*Сценарій:* {{ $json.workflow.name }}\n*Вузол:* {{ $json.execution.error.node }}\n*Помилка:* {{ $json.execution.error.message }}\n\n🔗 [Відкрити помилку в n8n]({{ $json.execution.url }})",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "232b4dfb-3f9a-4032-90ce-00bd49a4fc7f",
      "name": "Send Error Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        31728,
        8976
      ],
      "webhookId": "a11c6db1-8c82-4a01-aae0-6f21f4268012",
      "credentials": {
        "telegramApi": {
          "id": "qZBuPcKLta8Rab31",
          "name": "Мій Фінансовий Асистент"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  // Deep copy the item to bypass n8n's read-only/frozen object restriction\n  const newItem = JSON.parse(JSON.stringify(item));\n  \n  newItem.json.messageText = newItem.json.message && newItem.json.message.text ? newItem.json.message.text : '';\n  \n  // Safeguard basic properties for downstream nodes\n  if (!newItem.json.message) {\n    newItem.json.message = {\n      chat: { id: 7431843172 },\n      from: { first_name: 'Клієнт' }\n    };\n  } else {\n    if (!newItem.json.message.chat) {\n      newItem.json.message.chat = { id: 7431843172 };\n    }\n    if (!newItem.json.message.from) {\n      newItem.json.message.from = { first_name: 'Клієнт' };\n    }\n  }\n  \n  return newItem;\n});"
      },
      "id": "7fdb28da-c517-49d1-98b4-01cd4f7bd158",
      "name": "Sanitize Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        31616,
        9216
      ]
    },
    {
      "parameters": {
        "chatId": "7431843172",
        "text": "=🔔 <b>Новий запит контакту менеджера!</b>\n\n👤 <b>Клієнт:</b> {{ $('Sanitize Message').item.json.message.from.first_name }} {{ $('Sanitize Message').item.json.message.from.last_name ? $('Sanitize Message').item.json.message.from.last_name : '' }}\n💬 <b>Username:</b> {{ $('Sanitize Message').item.json.message.from.username ? '@' + $('Sanitize Message').item.json.message.from.username : '<i>відсутній</i>' }}\n🆔 <b>Telegram ID:</b> <code>{{ $('Sanitize Message').item.json.message.from.id }}</code>\n🌐 <b>Мова додатку:</b> <code>{{ $('Sanitize Message').item.json.message.from.language_code ? $('Sanitize Message').item.json.message.from.language_code.toUpperCase() : 'невідомо' }}</code>\n🌟 <b>Premium:</b> {{ $('Sanitize Message').item.json.message.from.is_premium ? 'Так 🔥' : 'Ні' }}\n\n🔗 <a href=\"{{ $('Sanitize Message').item.json.message.from.username ? 'https://t.me/' + $('Sanitize Message').item.json.message.from.username : 'tg://user?id=' + $('Sanitize Message').item.json.message.from.id }}\"><b>Натисніть сюди, щоб почати діалог з клієнтом</b></a>",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "d0711749-e9da-4015-ba32-38bce6240e60",
      "name": "Notify Manager",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        32240,
        9312
      ],
      "webhookId": "dc4a26df-d0b4-4f9f-9909-66fd4e52024e",
      "credentials": {
        "telegramApi": {
          "id": "r717IUH8sHUrL1dE",
          "name": "Durres Property Finder"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Sanitize Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Switch": {
      "main": [
        [
          {
            "node": "Send Welcome Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Help Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Manager Contacts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Reset Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Manager Contacts": {
      "main": [
        [
          {
            "node": "Notify Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI NLP Parser": {
      "main": [
        [
          {
            "node": "Generate Filtered URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Filtered URL": {
      "main": [
        [
          {
            "node": "Send Filtered Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send Error Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Message": {
      "main": [
        [
          {
            "node": "Router Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1738cc703c532f75ec4504ffd7b72eb884e6d93128a04c1afa4283656b731b0d"
  }
}