Web Web Project Alba Dures/century21-scraper/c21_bot_workflow_backend.json
{
  "name": "21_bot_workflow_backend",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "867fdcdc-b2a4-4de0-8692-ce5b28269d80",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        464,
        576
      ],
      "webhookId": "9b1fb28e-5b12-4c28-98e6-12a938c11aa5",
      "credentials": {
        "telegramApi": {
          "id": "r717IUH8sHUrL1dE",
          "name": "Durres Property Finder"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1,
                  "type": "string"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": "equals"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1,
                  "type": "string"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "ℹ️ Допомога",
                    "operator": "equals"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1,
                  "type": "string"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "📞 Менеджер",
                    "operator": "equals"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1,
                  "type": "string"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "🔄 Почати з нуля",
                    "operator": "equals"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "affd806c-e3d3-4eb4-8211-2ed8cbd01883",
      "name": "Router Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        688,
        576
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.message.chat.id }}",
        "photo": "https://images.unsplash.com/photo-1540555700478-4be289fbecef?auto=format&fit=crop&w=1200&q=80",
        "caption": "🏢 *Century 21 Albania | Розумний пошук*\n\nВітаємо, **{{ $json.message.from.first_name }}**! \n\nЯ ваш персональний асистент для пошуку житла та комерційної нерухомості в **Дурресі** та **Тирані** безпосередньо з офіційної бази Century 21.\n\n**Чим я корисний:**\n* 🏢 **Інтерактивний каталог** — шукайте та фільтруйте квартири у зручному мобільному додатку прямо в Telegram.\n* 🌐 **Розумний пошук** — просто напишіть мені запит своїми словами (наприклад: *«оренда 2-кімнатної в Дурресі до 600€»*), і я сам підберу варіанти.\n* 🛡️ **Безпека** — тільки перевірені об'єкти та прямий зв'язок з ліцензованими агентами.\n\n👇 **Натисніть кнопку нижче, щоб відкрити каталог та знайти найкращі варіанти:**",
        "replyMarkup": "replyKeyboardMarkup",
        "replyKeyboardMarkup": {
          "rows": [
            {
              "buttons": [
                {
                  "text": "🚀 Відкрити каталог",
                  "web_app": {
                    "url": "https://century21-albania.pages.dev"
                  }
                }
              ]
            },
            {
              "buttons": [
                {
                  "text": "📞 Менеджер"
                },
                {
                  "text": "ℹ️ Допомога"
                }
              ]
            },
            {
              "buttons": [
                {
                  "text": "🔄 Почати з нуля"
                }
              ]
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "70f5caf9-03bf-4dd1-8d6c-d2365fbb3eb8",
      "name": "Send Welcome Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        368
      ],
      "webhookId": "c6a542c5-fcbf-40b3-a4b0-89cd94b7330a",
      "credentials": {
        "telegramApi": {
          "id": "r717IUH8sHUrL1dE",
          "name": "Durres Property Finder"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "ℹ️ **Як користуватися пошуком:**\n\n1. Натисніть кнопку 🚀 **Відкрити каталог**.\n2. Введіть назву району, площу або налаштуйте бюджет у вкладці фільтрів `⚙️`.\n3. Додавайте вподобані об'єкти в **Обране (❤️)**.\n4. Перейдіть у вкладку «Обране» та натисніть кнопку **«Надіслати запит менеджеру»**, щоб зв'язатися з нами щодо обраного об'єкта.\n\nТакож ви можете відправити текстовий запит сюди в чат бота, наприклад:\n*\"хочу купити квартиру від 80 кв.м. в Дурресі з видом на море\"*",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "9a7ca5c1-4016-44db-b065-fc48b2137c0d",
      "name": "Send Help Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        528
      ],
      "webhookId": "84ca0aad-a28f-44c1-ac21-c72dc006ebcb",
      "credentials": {
        "telegramApi": {
          "id": "r717IUH8sHUrL1dE",
          "name": "Durres Property Finder"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "📞 **Контакти менеджера:**\n\nНаш спеціаліст готовий допомогти вам із вибором!\n\n💬 Telegram: @albaRoyalQ\n📧 Email: alba.homelan@gmail.com\n\nАбо просто надішліть заявку через кнопку в нашому додатку, і ми зв'яжемося з вами самі!",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "b287c456-d86c-496f-be3e-0693adfba6a5",
      "name": "Send Manager Contacts",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        672
      ],
      "webhookId": "85f61f6a-d125-4bc3-a837-0b7370bfb9cb",
      "credentials": {
        "telegramApi": {
          "id": "r717IUH8sHUrL1dE",
          "name": "Durres Property Finder"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "🔄 Всі налаштування пошуку та історію скинуто! Натисніть кнопку нижче, щоб почати перегляд спочатку.",
        "replyMarkup": "replyKeyboardMarkup",
        "replyKeyboardMarkup": {
          "rows": [
            {
              "buttons": [
                {
                  "text": "🚀 Відкрити каталог",
                  "web_app": {
                    "url": "https://century21-albania.pages.dev"
                  }
                }
              ]
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "24c82d72-9628-4151-96b1-011d7a600666",
      "name": "Send Reset Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        832
      ],
      "webhookId": "0621d845-563e-4c70-aa79-3c912639f8e1",
      "credentials": {
        "telegramApi": {
          "id": "r717IUH8sHUrL1dE",
          "name": "Durres Property Finder"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "message": "You are a smart parser for a real estate search bot in Albania (Durrës and Tirana).\nExtract search filters from the user's natural language request.\nOutput ONLY a valid JSON object matching this schema:\n{\n  \"category\": \"Sale\" | \"Rent\" | \"all\",\n  \"city\": \"Durrës\" | \"Tirana\" | \"all\",\n  \"rooms\": \"1\" | \"2\" | \"3+\" | \"all\",\n  \"priceMax\": number | null,\n  \"priceMin\": number | null\n}\nIf fields are not mentioned, set them to default values (\"all\" or null).\nTranslate Ukrainian queries correctly (e.g. \"оренда\" -> Rent, \"купити/продаж\" -> Sale, \"кімнатна\" -> rooms)."
            },
            {
              "role": "user",
              "message": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "id": "bed7c594-c16b-4dce-a1ea-c90bdf99b0c6",
      "name": "AI NLP Parser",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        960,
        976
      ],
      "credentials": {
        "openAiApi": {
          "id": "4XBA6U2hCe2dPkmn",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const filters = JSON.parse($input.first().json.choices[0].message.content);\n\nlet url = 'https://century21-albania.pages.dev/?';\nconst params = [];\nif (filters.category && filters.category !== 'all') params.push(`category=${filters.category}`);\nif (filters.city && filters.city !== 'all') params.push(`city=${filters.city}`);\nif (filters.rooms && filters.rooms !== 'all') params.push(`rooms=${filters.rooms}`);\nif (filters.priceMax) params.push(`priceMax=${filters.priceMax}`);\nif (filters.priceMin) params.push(`priceMin=${filters.priceMin}`);\n\nurl += params.join('&');\n\nreturn {\n  url,\n  summary: `Угода: ${filters.category === 'Rent' ? 'Оренда' : filters.category === 'Sale' ? 'Продаж' : 'Будь-яка'}, Місто: ${filters.city || 'Всі'}, Кімнат: ${filters.rooms || 'Будь-яка'}${filters.priceMax ? ', Макс. ціна: ' + filters.priceMax + '€' : ''}`\n};"
      },
      "id": "5a6d459c-a53f-41c5-ad8b-95a5556dae3f",
      "name": "Generate Filtered URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        976
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=🔍 **Я налаштував фільтри под ваш запит!**\n\n⚙️ {{ $json.summary }}\n\nНатисніть кнопку нижче, щоб відкрити каталог із уже вибраними параметрами! 👇",
        "replyMarkup": "inlineKeyboardMarkup",
        "inlineKeyboardMarkup": {
          "rows": [
            {
              "buttons": [
                {
                  "text": "🚀 Відкрити підібрані варіанти",
                  "web_app": {
                    "url": "={{ $json.url }}"
                  }
                }
              ]
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "301f9f0d-60f1-4bc4-8e83-be6c740e212e",
      "name": "Send Filtered Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1408,
        976
      ],
      "webhookId": "c22da0b0-f268-4ff1-92f3-d12d867917ce",
      "credentials": {
        "telegramApi": {
          "id": "r717IUH8sHUrL1dE",
          "name": "Durres Property Finder"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Router Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Switch": {
      "main": [
        [
          {
            "node": "Send Welcome Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Help Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Manager Contacts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Reset Confirmation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI NLP Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI NLP Parser": {
      "main": [
        [
          {
            "node": "Generate Filtered URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Filtered URL": {
      "main": [
        [
          {
            "node": "Send Filtered Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "da8eb5c1-9a38-4011-aeec-6c2a0ae935d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1738cc703c532f75ec4504ffd7b72eb884e6d93128a04c1afa4283656b731b0d"
  },
  "nodeGroups": [],
  "id": "UPJxfCTfdb7rs99K",
  "tags": []
}