Web Web Project Alba Dures/century21-scraper/Century21 Albania Realtime Scraper.json
{
  "name": "Century21 Albania Realtime Scraper",
  "nodes": [
    {
      "parameters": {},
      "id": "d05ee5b1-7c1a-4fc9-a2dd-218d586cb884",
      "name": "On clicking 'Execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        3450,
        100
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "e43b8a1c-99b8-4e89-a2b1-56c7d2ea49bb",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        3450,
        260
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "19GAIXFn3PYrqKoiH60-L-iWkPWKkUqL3nIdilkE51-g",
          "mode": "list",
          "cachedResultName": "century21_scraper_workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19GAIXFn3PYrqKoiH60-L-iWkPWKkUqL3nIdilkE51-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Аркуш1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19GAIXFn3PYrqKoiH60-L-iWkPWKkUqL3nIdilkE51-g/edit#gid=0"
        },
        "options": {}
      },
      "id": "fc1791b5-cbcc-4b8a-9e07-362f8529e582",
      "name": "Get Existing URLs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3680,
        260
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5WhpEtEGzugSOYEM",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/albahomelan-bot/radiant-rutherford/main/century21-scraper/century21_sitemap.xml",
        "responseFormat": "text",
        "options": {}
      },
      "id": "ad787c74-19d5-4b95-8e15-bb584f29b07f",
      "name": "Fetch Cached Sitemap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3680,
        100
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input1"
      },
      "id": "e5b7b51e-789a-4fd2-89cc-03ad56788fbd",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        3880,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Зчитуємо текст sitemap XML з попередньої ноди (Merge)\nconst sitemap = $json.data || $json.body || $input.first().json.data || \"\";\n\n// 2. Зчитуємо вже існуючі URL з Get Existing URLs\nlet existingUrls = [];\ntry {\n  const sheetData = $('Get Existing URLs').all();\n  existingUrls = sheetData.map(item => {\n    for (const val of Object.values(item.json)) {\n      const s = (val || '').toString().trim();\n      if (s.startsWith('http')) {\n        return s.toLowerCase();\n      }\n    }\n    return '';\n  }).filter(u => u.length > 0);\n} catch (e) {\n  existingUrls = [];\n}\n\nconst existingSet = new Set(existingUrls);\nconst urlBlockRegex = /<url>([\\s\\S]*?)<\\/url>/g;\nlet match;\nconst results = [];\nconst alreadyAdded = new Set();\n\nconst dateLimit = new Date(\"2026-01-01T00:00:00Z\");\n\nwhile ((match = urlBlockRegex.exec(sitemap)) !== null) {\n  const block = match[1];\n  const locMatch = block.match(/<loc>([^<]+)<\\/loc>/);\n  const lastmodMatch = block.match(/<lastmod>([^<]+)<\\/lastmod>/);\n  \n  if (locMatch) {\n    const url = locMatch[1];\n    const lastmod = lastmodMatch ? lastmodMatch[1] : null;\n    \n    if (url.toLowerCase().includes('durres') && url.includes('/property/')) {\n      const normalizedUrl = url.toString().trim().toLowerCase();\n      \n      if (!existingSet.has(normalizedUrl) && !alreadyAdded.has(normalizedUrl)) {\n        let isRecent = true;\n        if (lastmod) {\n          const modDate = new Date(lastmod);\n          isRecent = modDate >= dateLimit;\n        }\n        if (isRecent) {\n          results.push({ url, lastmod });\n          alreadyAdded.add(normalizedUrl);\n        }\n      }\n    }\n  }\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "c41faa51-39fa-4f9c-80c0-d04a874f9feb",
      "name": "Parse and Filter Sitemap",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        100
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "e9aa667b-f7d7-49a6-84c3-92e5582fcfec",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        4280,
        100
      ]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "85277e43-e080-4b5f-ae27-914f74cf916e",
      "name": "Wait 1s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        4480,
        100
      ],
      "webhookId": "73a630ea-0bec-4d28-862d-854af892253a"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "responseFormat": "text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            }
          ]
        },
        "options": {}
      },
      "id": "1f0b449f-bd3c-4b77-9822-de2dfea47bfd",
      "name": "Fetch Property Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4680,
        100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "data",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "h1",
              "returnArray": false
            },
            {
              "key": "price",
              "cssSelector": "h2.text-gold-shade-55",
              "returnArray": false
            },
            {
              "key": "property_id",
              "cssSelector": "h6 span.text-gold-shade-55",
              "returnArray": false
            },
            {
              "key": "description",
              "cssSelector": "p.text-grey-shade-40",
              "returnArray": false
            },
            {
              "key": "agent_phone",
              "cssSelector": "a[href^=\"tel:\"]",
              "attribute": "href",
              "returnArray": false
            },
            {
              "key": "agent_name_link",
              "cssSelector": "a[href*=\"/agent/\"], a[href*=\"/agjentet/\"]",
              "attribute": "href",
              "returnArray": false
            },
            {
              "key": "facilities",
              "cssSelector": "p.paragraph-2",
              "returnArray": true
            }
          ]
        }
      },
      "id": "aa13836e-6abc-4299-9ebe-12ad38c159b4",
      "name": "Parse HTML",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        4880,
        100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const htmlData = $input.first().json;\n\nconst getFirst = (val) => {\n  if (Array.isArray(val)) return val[0] || '';\n  return val || '';\n};\n\nconst title = getFirst(htmlData.title).trim();\nconst price = getFirst(htmlData.price).trim();\nconst description = getFirst(htmlData.description).trim();\nconst agentPhoneLink = getFirst(htmlData.agent_phone);\nconst agentNameLink = getFirst(htmlData.agent_name_link);\n\n// 1. Очищуємо телефон агента\nconst agentPhone = agentPhoneLink ? agentPhoneLink.replace('tel:', '').trim() : '';\n\n// 2. Витягуємо ім'я агента з посилання\nlet agentName = '';\nif (agentNameLink) {\n  const parts = agentNameLink.split('/');\n  const lastPart = parts[parts.length - 1];\n  const namePart = lastPart.replace('.html', '').replace(/^\\d+-/, '');\n  agentName = namePart.split('-').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');\n}\n\n// 3. Парсимо характеристики\nconst facilities = htmlData.facilities || [];\nlet area = '';\nlet bedrooms = '';\nlet category = 'Sale';\n\n// ВИПРАВЛЕНИЙ КОД: надійний пошук URL з ланцюжком fallback\nlet url = '';\ntry {\n  url = $('Wait 1s').item.json.url || $('Split In Batches').item.json.url || '';\n} catch (e) {\n  try {\n    url = $('Split In Batches').item.json.url || '';\n  } catch (err) {\n    url = '';\n  }\n}\n\nif (url.toLowerCase().includes('qera') || url.toLowerCase().includes('qira') || url.toLowerCase().includes('rent')) {\n  category = 'Rent';\n}\n\nfacilities.forEach(f => {\n  const text = f.toLowerCase();\n  if (text.includes('m2') || text.includes('sip.') || text.includes('surface')) {\n    const cleanText = text.replace(/m2/g, '').replace(/m²/g, '');\n    area = cleanText.replace(/[^0-9]/g, '').trim() + ' m2';\n  }\n  if (text.includes('bedroom') || text.includes('dhomat') || text.includes('bed')) {\n    bedrooms = f.replace(/[^0-9]/g, '').trim();\n  }\n});\n\nreturn {\n  url,\n  title,\n  price,\n  category,\n  area,\n  bedrooms,\n  description,\n  agentName,\n  agentPhone,\n  lastModified: new Date().toISOString()\n};"
      },
      "id": "2b5252e5-e2d9-4d78-88d8-ed4ebf579ac7",
      "name": "Clean & Format Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5080,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.title }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "c85d7b51-789a-4fd2-89cc-03ad56788fbc",
      "name": "Filter Valid Leads",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5280,
        100
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "19GAIXFn3PYrqKoiH60-L-iWkPWKkUqL3nIdilkE51-g",
          "mode": "list",
          "cachedResultName": "century21_scraper_workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19GAIXFn3PYrqKoiH60-L-iWkPWKkUqL3nIdilkE51-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Аркуш1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19GAIXFn3PYrqKoiH60-L-iWkPWKkUqL3nIdilkE51-g/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL — посилання на об'єкт.": "={{ $json.url }}",
            "Title — назва об'єкта.": "={{ $json.title }}",
            "Price — ціна.": "={{ $json.price }}",
            "Category — категорія (Sale або Rent).": "={{ $json.category }}",
            "Area — площа (м²).": "={{ $json.area }}",
            "Bedrooms — кількість спалень/кімнат.": "={{ $json.bedrooms }}",
            "Description — опис об'єкта.": "={{ $json.description }}",
            "Agent Name — ім'я агента.": "={{ $json.agentName }}",
            "Agent Phone — телефон агента.": "={{ $json.agentPhone }}",
            "Last Modified — дата останньої зміни об'єкта на сайті.": "={{ $json.lastModified }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "URL — посилання на об'єкт.",
              "displayName": "URL — посилання на об'єкт.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title — назва об'єкта.",
              "displayName": "Title — назва об'єкта.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price — ціна.",
              "displayName": "Price — ціна.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category — категорія (Sale або Rent).",
              "displayName": "Category — категорія (Sale або Rent).",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Area — площа (м²).",
              "displayName": "Area — площа (м²).",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bedrooms — кількість спалень/кімнат.",
              "displayName": "Bedrooms — кількість спалень/кімнат.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description — опис об'єкта.",
              "displayName": "Description — опис об'єкта.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Agent Name — ім'я агента.",
              "displayName": "Agent Name — ім'я агента.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Agent Phone — телефон агента.",
              "displayName": "Agent Phone — телефон агента.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Modified — дата останньої зміни об'єкта на сайті.",
              "displayName": "Last Modified — дата останньої зміни об'єкта на сайті.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fc1791b5-cbcc-4b8a-9e07-362f8529e581",
      "name": "Write to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        5480,
        40
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5WhpEtEGzugSOYEM",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Split In Batches\"].context.noItemsLeft }}",
              "value2": true
            }
          ]
        }
      },
      "id": "b8ee516e-7f63-4c28-967e-a44518ca6001",
      "name": "Loop Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5680,
        100
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "On clicking 'Execute'": {
      "main": [
        [
          {
            "node": "Get Existing URLs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Cached Sitemap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Existing URLs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Cached Sitemap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing URLs": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Cached Sitemap": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Parse and Filter Sitemap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Filter Sitemap": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Wait 1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1s": {
      "main": [
        [
          {
            "node": "Fetch Property Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Property Page": {
      "main": [
        [
          {
            "node": "Parse HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse HTML": {
      "main": [
        [
          {
            "node": "Clean & Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean & Format Data": {
      "main": [
        [
          {
            "node": "Filter Valid Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Leads": {
      "main": [
        [
          {
            "node": "Write to Google Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Google Sheet": {
      "main": [
        [
          {
            "node": "Loop Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Check": {
      "main": [
        [],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ae490c4c-d5f4-4968-89e6-0a29f7c235b3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1738cc703c532f75ec4504ffd7b72eb884e6d93128a04c1afa4283656b731b0d"
  },
  "nodeGroups": [],
  "id": "2CQqk5nGulQOvbfF",
  "tags": []
}