N8N Projects Alba Dures/albasever-workflows/albasever-workflows/UyeAlT3O3bwwHUpS-Module_3_Images.json
{
  "name": "Module 3 - Images",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -864,
        256
      ],
      "id": "bc64f2c6-e622-4612-b1e7-84d062801db1",
      "name": "Telegram Trigger",
      "webhookId": "31d5c194-77c9-4b72-a937-20d115972775"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "45debffd-b513-468c-92c3-ed48d9a7e4ad",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "rightValue": 276845386,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "cf6dc364-e9c7-4bf8-b586-fa8b9efa8dd7",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "rightValue": -1002247067662,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -672,
        256
      ],
      "id": "638e7811-9ced-4544-825d-abe8834042de",
      "name": "Є доступ"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "У вас немає доступу",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -400,
        432
      ],
      "id": "4b6fcb08-b6d6-45b7-86e8-536e6e4a7143",
      "name": "Заборонено",
      "webhookId": "e5da4258-20a0-4b72-a82b-7e94445c9b6c"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Все <u>працює</u>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        176,
        -176
      ],
      "id": "e5024709-dd83-4635-a3f1-82963800882f",
      "name": "Start",
      "webhookId": "e18ad14a-58c7-4c12-b244-33b5b6e22217"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Готово. Пам'ять очищено",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        -32
      ],
      "id": "89d365c6-7d53-4427-bb1d-4dd758242732",
      "name": "Clear result",
      "webhookId": "5aca053d-2070-4d2a-b97d-bf3a63689c4f"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1408,
        192
      ],
      "id": "69058ed3-4dd8-4d7a-8dcc-aaaf48ccd946",
      "name": "Answer",
      "webhookId": "d11e0393-efd3-4038-bc08-e03f51efd9e1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "56a1eada-9069-4c29-8fc6-4bb70b6fa460"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1583585e-fbf5-4a6b-a190-fa46a0be5f2f",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text.toLowerCase() }}",
                    "rightValue": "/clear",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "clear"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d1a4ab1a-f290-494e-bef4-ffb5b4d8bbf6",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/",
                    "operator": {
                      "type": "string",
                      "operation": "notStartsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Custom Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2b72f405-3881-4262-a91d-d26720c4c331",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/add",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "add"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -416,
        80
      ],
      "id": "41ae7eb2-922e-47c4-893f-4f1fff0ed909",
      "name": "Команди бота"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1008,
        688
      ],
      "id": "25988c66-7439-41b3-86ba-54fe921f9640",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        432
      ],
      "id": "f0ab7eb0-20c1-4742-8a57-403a4ec0f90c",
      "name": "Typing...",
      "webhookId": "af4d7866-86f5-4032-9fe4-66130d3c67a2"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "uk"
        }
      },
      "id": "ce970511-7d1d-4005-8a36-4412af4b9a33",
      "name": "Speech to Text",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        416,
        672
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "001c6315-31c6-4b10-983a-8636b408e2ba",
      "name": "Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "position": [
        240,
        672
      ],
      "typeVersion": 1.1,
      "webhookId": "09f48616-7779-40a2-bf5e-877e55a7b26c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2c45efd2-c648-473d-b594-cbcaf8dd5c33",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.voice }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        432
      ],
      "id": "6c7c734d-72de-4a22-84e3-34c746d329f7",
      "name": "Voice"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1fabbdaf-0eb8-4d0a-af52-b1ca3d231ccb",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        432
      ],
      "id": "4b953d75-b424-486f-827d-15e9d4c4be73",
      "name": "Set mess text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1fabbdaf-0eb8-4d0a-af52-b1ca3d231ccb",
              "name": "text",
              "value": "={{ $('Speech to Text').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        672
      ],
      "id": "9c270429-894e-4782-94f2-31201e822dc8",
      "name": "Set voice text"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "action": "upload_audio"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        672
      ],
      "id": "d9e3c838-51ab-44e6-ad32-50f306c679c5",
      "name": "Donwloading...",
      "webhookId": "70ee9768-83d7-4876-a6e5-b4775b0f4a1b"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        672
      ],
      "id": "c09949ce-3ca3-4ad8-a6a5-27b0a8ca70c3",
      "name": "Writing...",
      "webhookId": "f27d40fc-7359-40cc-b5ef-a190946b7514"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Роль: ти — копірайтер світового рівня\nЗадача: напиши пост для телеграм каналу\nКонтекст: на тему яка в повідомленні користувача\nФормат: простою мовою, короткими абзацами по 1-3 простих речення, без форматування, з кількома емодзі та - замість —"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1024,
        432
      ],
      "id": "fe09808e-dfc3-4940-a965-4219fb36e83f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1136,
        704
      ],
      "id": "02514e61-c226-4c14-b4b1-54357c875e8d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        144
      ],
      "id": "721b8b4b-1291-48ec-bfd6-c27ce0f72b25",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        176,
        -16
      ],
      "id": "8e547c0e-6241-4344-b415-81c01f26516d",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1C-xpqGgXg7pGqBIATGmCHFFMpEhCY5A5WvRqGQAr7Dc",
          "mode": "list",
          "cachedResultName": "Контент календар (мій)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C-xpqGgXg7pGqBIATGmCHFFMpEhCY5A5WvRqGQAr7Dc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Аркуш1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C-xpqGgXg7pGqBIATGmCHFFMpEhCY5A5WvRqGQAr7Dc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Дата": "={{ $json.cols[1] }}",
            "Тема": "={{ $json.cols[2] }}",
            "Опис": "={{ $json.cols[3] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Дата",
              "displayName": "Дата",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Тема",
              "displayName": "Тема",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Опис",
              "displayName": "Опис",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        208
      ],
      "id": "8eabd861-8bbd-4a94-8438-abcf1510c726",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Рядок додано",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        208
      ],
      "id": "2f082e85-4da0-4426-87a2-e8490ef94d69",
      "name": "Done ",
      "webhookId": "20b0b509-2878-4359-be78-188cfee83984"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6dc1ba6f-4bd6-4912-add4-3341d4cf3084",
              "name": "cols",
              "value": "={{ $json.message.text.split('\\n') }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        272
      ],
      "id": "fd198e2f-1689-49d5-af6d-1cf92bbc1ad7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1808,
        384
      ],
      "id": "59f8b4b3-7eb8-4aa2-a21b-311b7976b7e8",
      "name": "OpenAI Model"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $('Image Agent').item.json.output }}",
        "options": {
          "size": "1024x1024"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2528,
        192
      ],
      "id": "d21db55f-4491-4e08-b1bc-284998c98add",
      "name": "Sora"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2752,
        144
      ],
      "id": "4c84ab60-f3fc-4866-a9fa-0fb2c547bf56",
      "name": "Send a photo message",
      "webhookId": "eacffa1a-7fc3-4018-958e-8a6a4d829527"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2336,
        192
      ],
      "id": "e092a7dd-a849-4172-8c88-058370987cd5",
      "name": "Preparing...",
      "webhookId": "4bd293a8-5613-427c-9d0a-9bd914f10ffd"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1616,
        192
      ],
      "id": "73011da3-1a5e-476f-b4be-44863445b17a",
      "name": "Generating...",
      "webhookId": "1b660ffa-78a9-499c-9c1d-a11e892d999a"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=А тепер підготуємо ілюстрацію... \n<pre><code>{{ $('Image Agent').item.json.output }}</code></pre>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2128,
        192
      ],
      "id": "1e14b56e-880e-433a-a9ab-33fcb285ba48",
      "name": "Image Prompt",
      "webhookId": "ed8c7a04-6f46-4df3-803d-9b75ab0543f9",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('AI Agent').item.json.output }}",
        "options": {
          "systemMessage": "You are a image generation prompt engineer. \n\nUse the last user message text (AI post) for generate prompt for digital illustration with flat style. \n\nFinal prompt must be short, laconic and simple: just some person in suitable decorations\n\nReturn only task result without any comments. Prompt language: English"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1808,
        192
      ],
      "id": "5fe9324d-08e3-4ca3-bf12-404e650820bc",
      "name": "Image Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upload-post.com/api/upload_photos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('AI Agent').item.json.output }}"
            },
            {
              "name": "platform[]",
              "value": "instagram"
            },
            {
              "parameterType": "formBinaryData",
              "name": "photos[]",
              "inputDataFieldName": "data"
            },
            {
              "name": "user",
              "value": "oleksandr_ceo"
            }
          ]
        },
        "options": {}
      },
      "id": "6ace06c5-78dc-467b-a045-6b653bc5456e",
      "name": "Upload Video and Description to Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2656,
        704
      ],
      "notesInFlow": true,
      "typeVersion": 4.2,
      "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)"
    },
    {
      "parameters": {
        "user": "oleksandr_ceo",
        "platform": [
          "instagram"
        ],
        "title": "={{ $('AI Agent').item.json.output }}",
        "photos": "data"
      },
      "type": "n8n-nodes-upload-post.uploadPost",
      "typeVersion": 1,
      "position": [
        2944,
        672
      ],
      "id": "33dcef28-c6fb-41f0-9ced-03d9952dfb2e",
      "name": "Upload Post",
      "credentials": {}
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Є доступ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Є доступ": {
      "main": [
        [
          {
            "node": "Команди бота",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Заборонено",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Команди бота": {
      "main": [
        [
          {
            "node": "Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Voice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Typing...": {
      "main": [
        [
          {
            "node": "Set mess text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Speech to Text": {
      "main": [
        [
          {
            "node": "Writing...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Speech to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice": {
      "main": [
        [
          {
            "node": "Donwloading...",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Typing...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Donwloading...": {
      "main": [
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Writing...": {
      "main": [
        [
          {
            "node": "Set voice text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set mess text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set voice text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Clear result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer": {
      "main": [
        [
          {
            "node": "Generating...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Done ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Image Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sora": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparing...": {
      "main": [
        [
          {
            "node": "Sora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generating...": {
      "main": [
        [
          {
            "node": "Image Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt": {
      "main": [
        [
          {
            "node": "Preparing...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Agent": {
      "main": [
        [
          {
            "node": "Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": null
}